.details{
	padding: 120px 0 60px;
	&__item{
		display: flex;
		align-items: center;
		padding-bottom: 50px;
	}
	&__item-slide{
		margin-right: 70px;
		width: 555px;
		height: 527px;
		display: flex;
	}
	&__item-content{
		width: 555px;
	}
}
.details-slide{
	&__thumb{
		width: 138px;
		margin-right: 25px;
	}
		&__thumb-item{
			height: 160px;
			border: 1px solid  #f2f2f2;
			display: flex !important;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			margin-bottom: 21px;
			cursor: pointer;	
		}
		&__big{
			width: 384px;
		}
		&__big-item{
			height: 527px;
			border: 1px solid #f2f2f2;
			display: flex !important;
			justify-content: center;
			align-items: center;
		}
	}
	.details-item{
		&__info{
			margin-top: 50px;
			color: #243f4d;
		}
		&__btn{
			margin-left: 15px;
		}
	}
	.jq-number__field {
		width: 150px;
		border: 1px solid #a3bbc8;
		transform: translateY(-1px);
	}
	.jq-number__field input {
		width: 100%;
		padding: 0;
		height: 50px;
		font-size: 15px;
		@extend %rubik-400;
		color: #333;
		text-align: center;
		border: none;
		outline: none;
	}
	.jq-number {
		padding: 0;
		position: relative;
	}
	.jq-number__spin {
		position: absolute;
		width: 50px;
		height: 50px;
		top: 0;
		cursor: pointer;
	}
	.jq-number__spin.minus {
		left: 0;
		border-right: 1px solid #a3bbc8;
	}
	.jq-number__spin.plus {
		right: 0;
		border-left: 1px solid #a3bbc8;
	}
	.jq-number__spin::after, 
	.jq-number__spin::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		width: 8px;
		height: 1px;
		background-color: #333333;
	}
	.jq-number__spin.plus::before {
		width: 1px;
		height: 8px;
		top: 50%;
		left: 49%;
		transform: translateY(-50%);
	}

	.details-tabs{
		padding-top: 50px;
		color:#243f4d;
		&__top{
			margin-bottom: 35px;
			margin-left: 165px;
		}
		&__top-item{
			width: 240px;
			padding: 17px 0;
			text-align: center;
			background-color: #edf1f4;
			color: #243f4d;
			@extend %rubik-500;
			font-size: 18px;
			border-radius: 4px;
			display: inline-block;
			& + .details-tabs__top-item{
				margin-left: 13px;
			}
		}
		&__top-item--active{
			background-color: #a3bbc8;
			color: #fff;
		}
		&__content-item{
			display: none;
			&.details-tabs__content-item--active{
				display: block;
			}
		}
	}
	
	.shop-content{

		&__item{
			display: flex;
			align-items: center;
			margin-bottom: 45px;
		}
		&__images{
			width: 370px;
			height: 500px;
			margin-right: 55px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #f2f2f2;
		}
		&__aside{
			max-width: 446px;
		}
		&__title{
			font-size: 40px;
			color: #333333;
			margin-bottom: 30px;
		}
		&__price{
			font-size: 30px;
			color: #333333;
			margin: 34px 0 30px;
		}
		&__text{
			margin-bottom: 35px;
			color: #243f4d;
		}
		&__big-button{
			border: none;
			padding: 12px 50px;
			background-color: #a3bbc8;
			font-size: 15px;
			border-radius: 5px;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
		}
		&__buttons{
			display: flex;
		}
		&__btn{
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			background-color: inherit;
			box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
			cursor: pointer;
			transition: all .3s;
			&:hover{
				background-color: #a2b9c6;
				path{
					fill: #fff;
				}
			}	
			&--active{
				background-color: #a2b9c6;
				path{
					fill: #fff;
				}
			}	
		}
		&__btn-cart{
			margin-right: 11px;
		}
	}




	@media (max-width: 1100px){
		.details-slide__thumb{
			display: none;
		}
	}
	@media (max-width: 950px){
		.details-item{
			&__btn {
				display: block;
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}
	@media (max-width: 850px){
		.details{
			&__item{
				flex-direction: column;
			}
			&__item-slide {
    			margin-right: 0;
				margin-bottom: 30px;
				justify-content: center;
			}
		}
		.details-slide__thumb{
			display: block;
		}
	}
	@media (max-width: 600px){
		.details-slide__thumb{
			display: none;
		}
		.details-slide__big{
			width: 250px;
		}
		.details{
			padding-bottom: 10px;
			padding-top: 50px;
			&__item-slide{
			width: auto;
			}
		}
		 .slick-track{
			width: 243px;
		}
		.details__item-slide {
			margin-right: 0px;
			width: 250px;
	}
}