.addition-slider{
	padding: 60px 0;
	&__title{
		color: #243f4d;
		font-size: 36px;
		@extend %dmsans-700;
		margin-bottom: 70px;
		display: inline-block;
	}
	&__inner{
		.slick-prev,
		.slick-next{
			position: absolute;
			top: -102px;
			right: 0;
			width: 46px;
			height: 46px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			border: 2px solid #a3bbc8;
			border-radius: 4px;
			cursor: pointer;
			outline-color: #349bd3;
			display: inline-block;
		}
		.slick-disabled{
			border-color: #d6d6d6;
			outline: none;
			cursor: auto;
			path{
				fill: #c9cbcc ;
			}
		}
		.slick-prev{
			right: 61px;
		}
	}
	&__item{
		margin-bottom: 20px;
	}
}
@media (max-width: 600px){
	.addition-slider{
		padding-top: 0;
		&__title {
		font-size: 25px;
		}
	}
}
@media (max-width: 600px){
	.addition-slider{
		&__inner{
			.slick-prev,
			.slick-next{
				top: -66px;
			}
		}
	}
}