@media (max-width: 1030px){
	.menu{
		
		&__list{
			transform: translateY(-200%);
			position: absolute;
			top: 130px;
			width: 100%;
			left: 0;
			text-align: center;
			flex-direction: column;	
			z-index: 5;
			padding: 0 10px;
			transition: all .5s;
			&.menu__list--active{
				transform: translateY(0%);
				transition: all .5s;
			}
		}	
		&__list-item{
			width: 100%;
			text-align: center;
			background-color: #edf1f4;
			transition: all .3s;
			border: 1px solid #fff;
			&:hover{
				background-color: #a3bbc8;
				.menu__list-link{
					color: #fff;
				}
			}
		}
		&__list-item--active{
			border-bottom: none;
			background-color: #a3bbc8;
			.menu__list-link{
				color: #fff;
			}
		}
		&__list-link{
			display: block;
			padding: 10px 0;
			&:hover{
				border-bottom: none;
			}
		}
		&__list-item + .menu__list-item{
			margin-left: 0px;
		}
	}
}
@media (max-width: 520px){
	.menu{
		&__list{
			top: 170px;
		}
	}
	.user-nav{
		justify-content: center;
		flex-wrap: wrap;
		max-width: 158px;
		width: 100%;
		&__item-link{
			margin-top: 10px;
			order: 1;
		}
	}

}