$default: #436372;
$title: #191919;
$bg:#fef7f0;

%dmsans-400{
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}

%dmsans-700{
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 700;
}

%rubik-400{
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}

%rubik-500{
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 500;
}