$default: #436372;
$title: #191919;
$bg:#fef7f0;
$btn:#a3bbc8;

%dmsans-400{
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}

%dmsans-700{
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 700;
}

%rubik-300{
	font-family: 'Rubik-Light', sans-serif;
	font-weight: 300;
}

%rubik-400{
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}

%rubik-500{
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 500;
}

%poppins-600{
	font-family: 'Poppins-SemiBold', sans-serif;
	font-weight: 600;
}

%poppins-700{
	font-family: 'Poppins-Bold', sans-serif;
	font-weight: 700;
}

%btn{
	padding: 24px 100px 24px 25px;
		background-color: transparent;
		color: #fff;
		@extend %rubik-500;
		font-size: 15px;
		line-height: 12px;
		position: relative;
		&::after{
			content: url(../images/icons/arrow-btn.svg);
			position: absolute;
			right: 23px;
			top: 26px;
		}
}
%title{
		@extend %dmsans-700;
		color: #243f4d;
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 25px;
}

@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}