@import'vars';
@import'fonts';
@import'reset';
@import'libs';
@import'global';

.header{
	padding: 48px 0;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu{
	&__list{
		display: flex;
	}
	&__list-item + .menu__list-item{
		margin-left: 32px;
	}
	&__list-link{
		position: relative;
	}
	&__list-link--active::after,.menu__list-link:hover::after{
		content: '+';
		position: absolute;
		right: -12px;
		top: -3px;
		align-items: center;
	}
}

.user-nav{
	display: flex;
	&__link{
		position: relative;
	}
	&__num{
		position: absolute;
		width: 17px;
		height: 17px;
		color: #243f4d;
		background-color: #fff;
		@extend %dmsans-400;
		font-size: 10px;
		line-height: 17px;
		text-align: center;
		border-radius: 50%;
		top: 0;
		right: -10px;
	}
	&__num-hart{
		right: 9px;
	}
	&__item-link{
		display: flex;
		padding: 9px 30px 10px;
		background-color: #fcd7b6;
		border-radius: 27px;
	}
	&__link-hart{
		padding: 8px 20px 8px 0;
		border-right: 1px solid #fde7d3;
	}
	&__link-cart{
		padding: 8px 0 8px 20px;
	}
	&__link-search{
		padding: 18px;
		border-radius: 50%;
		background-color: #edf1f4;
		margin-right: 23px;
	}
	&__link-menu{
		padding: 15px;
		border-radius: 50%;
		background-color: #a3bbc8;
		margin-left: 20px;
	}
}

.footer-top{
	padding: 75px 0;
	border-bottom: 1px solid #dae4e9;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #7b7b7b;
	@extend %rubik-400;
	&__item{
		max-width: 270px;
		width: 100%;
	}
	&__logo{
		margin-bottom: 24px;
		display: block;
	}
	&__title{
		margin-bottom: 27px;
		@extend %dmsans-700;
		line-height: 21px;
		color: #1f2044;
		text-transform: uppercase;
		font-size: 16px;
		padding-top: 15px;
	}
	&__item-contact{
		max-width: 237px;
	}
	&__adress,
	&__phone,
	&__email,
	&__link{
		margin-bottom: 16px;
		display: block;
	}
	&__text{
		line-height: 18px;
		margin-bottom: 39px;
	}
	&__form-input{
		max-width: 170px;
		width: 100%;
		border: none;
		background-color: #fef7f0;
		padding: 14px 10px 14px 15px;
		&::placeholder{
			color: #234969;
			font-size: 12px;
			@extend %dmsans-400;
		}
	}
		&__form-btn{
			@extend %dmsans-400;
			color: #fff;
			padding: 12px 15px;
			border: none;
			background-color: #a3bbc8;
			cursor: pointer;
		}
}

.footer-bottom{
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	&__copy{
		font-size: 14px;
	}
	&__nav-item{
		display: flex;
		align-items: center;
	}
	&__nav + .footer-bottom__nav{
		margin-left: 28px;
		position: relative;
	}
	&__nav + .footer-bottom__nav::before{
		content: '|';
		position: absolute;
		left: -16px;
		top: 0;
	}
}

.top-slider{
	max-width: 1770px;
	margin: 0 auto;
	background-color: #fcd7b6;
	padding: 100px 0 45px;
	&__item{
		display: flex !important;
		justify-content: space-between;
		align-items:flex-end ;
		margin-top: 130px;
		margin-bottom: 208px;
		position: relative;
	&::after{
		content: url(../images/slider-ball.png);
		position: absolute;
		top: -42%;
		right: 0;
	 }
	}
	&__content{
		margin-left: 100px;
	}
	&__title{
		max-width: 450px;
		color: #243f4d;
		@extend %poppins-700;
		font-size: 72px;
		line-height: 70px;
		margin-bottom: 35px;
		text-transform: uppercase;
	}
	&__text{
		max-width: 370px;
		font-size: 18px;
		margin-bottom: 41px;
	}
	&__btn{
		@extend %btn;
		background-color: #a3bbc8;
	}
	&__img{
		z-index: 1;
		margin-right: 150px;
	}
	.slick-dots{
		display: flex;
		justify-content: center;
		li{
			padding: 0 5px;
			button{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: none;
				background-color: #fde3cc;
				color: #243f4d;
				@extend %rubik-500;
				font-size: 11px;
				line-height: 8px;
				cursor: pointer;
			}
			&.slick-active{
				button{
					background-color: #fff;
				}
			}
		}	
	}
}

.info{
	max-width: 1770px;
	margin: 0 auto;
	background-color:#fef7f0;
	&__inner{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		height: 170px;
	}
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
		&:nth-of-type(n+2){
			border-left: 1px solid #e8e4df;
		}
}
	&__item-support,
	&__item-delivery,
	&__item-payment{
		max-width: 212px;
	}
&__img{
	margin: 0 25px;
}
	&__title{
		@extend %dmsans-700;
		font-size: 18px;
		line-height: 19px;
		color: #414141;
		margin-bottom: 10px;
	}
	&__text{
		color: #636362;
		line-height: 20px;
	}
}

.galery{
	margin: 75px 0 105px;
	&__top{
		text-align: center;
	}
	&__btn{
		background-color: transparent;
		border: none;
		color: #8b8b8b;
		font-size: 16px;
		@extend %dmsans-700;
		cursor: pointer;
		margin-bottom: 78px;
		&:hover{
			color: $title;
		}
	}
	.mixitup-control-active{
		color: $title;
	}
	&__content{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		text-align: center;
		grid-column-gap: 30px;
		grid-row-gap: 37px;
		height: 850px;
		
	}
	&__item{
		min-width: 280px;
		height: 400px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		padding-bottom: 35px;
		transition: all .5s;
		&:hover{
			.galery__icon{
				display: inline;
				display: grid;
				grid-template-columns: 40px 40px 40px;
				grid-column-gap: 15px;
			}
		}
	}
	&__item__block-img{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: end;
		height: 252px;
	}
	&__item-img{
		display: inline;
		margin: 57px auto 0;
		
	}
	&__icon{
		position: absolute;
		display: none;
	}
	&__icon-link{
		padding: 6px 0 ;
		background-color: #fff;
		border-radius: 50%;
		transition: all .3s;
		&:hover{
			background-color: #a3bac7;
			path{
				fill:#fff;
			}
		}
	}
	&__item-title{
		color: #243f4d;
		@extend %dmsans-700;
	}
	&__item-pricing{
		color: #a3bbc8;
		@extend %dmsans-700;
	}
}

.products{
	margin-top: 185px;
	&__inner{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 35px;
	}
	&__item{
		height: 390px;
		background-color: #feefe2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item-img{
		margin-right: 43px;
		margin-bottom: 136px;
	}
	&__item-content{
		max-width: 345px;
		color: #243f4d;
	}
	&__title{
		@extend %title;
	}
	&__text{
		margin-bottom: 35px;
	}
	&__link{
		@extend %btn;
		color: #436372;
		border: 1px solid #b3b7b5;
		border-radius: 10px;
		&::after{
			content: url(../images/icons/arrow-btn-black.svg);
		}
	}
}
.new-design{
	margin-bottom: 117px;
	&__top{
		text-align: center;
	}
	&__content{
		display: grid;
		height: 525px;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 35px;
		margin-bottom: 123px;
	}
	.galery__btn{
		&:hover{
			color: $title;
		}
	}
	.mixitup-control-active{
		color: $title;
	}
	&__item{
		height: 245px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		@extend %dmsans-700;
		padding-top: 40px;
		padding-left: 35px;
	}
	&__title{
		font-size: 20px;
		color: #191919;
		margin-bottom: 16px;
		width: 170px;
		&:hover{
			color: #a3bbc8;
		}
	}
	&__subtitle{
		color: #a3bbc8;
		width: 66px;
	}
	&__video{
		background-image: url(../images/video-bg.jpg);
		height: 500px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.news{
	&__top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 44px;
		align-items: center;
	}
	&__title{
		margin-bottom: 0;
	}
	&__top-link{
		&::after{
			content:url(../images/content/arrow-news.svg);
			width: 7px;
			height: 11px;
			margin-left: 15px;
		}
	}
	&__content{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		min-height: 423px;
		
	}
	// &__content-item{
		
	// }
}



@import'media';