.top-slider{
	&__inner{
	background-color: #fcd7b6;
	padding-bottom: 45px;

	}
	&__item{
		padding-top: 220px;
		padding-left: 16%;
		margin-bottom: 208px;
		position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 609px;
		height: 634px;
		top: 16%;
		right: 25%;
    	transform: translateX(50%);
		background-image: url(../../images/slider-ball.png);
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
	 }
	}
	&__content{
		display: inline-block;
	}
	&__title{
		max-width: 530px;
		color: #243f4d;
		@extend %poppins-700;
		font-size: 72px;
		line-height: 70px;
		margin-bottom: 35px;
		text-transform: uppercase;
	}
	&__text{
		max-width: 370px;
		font-size: 18px;
		margin-bottom: 41px;
	}
	&__btn{
		@extend %btn;
		background-color: #a3bbc8;
	}
	&__img{
		z-index: 3;
	}
	.slick-slide img{
		display: inline-block;
		width: 42%;
		object-fit: contain;
	}
	.slick-dots{
		display: flex;
		justify-content: center;
		li{
			padding: 0 5px;
			button{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: none;
				background-color: #fde3cc;
				color: #243f4d;
				@extend %rubik-500;
				font-size: 11px;
				line-height: 8px;
				cursor: pointer;
			}
			&.slick-active{
				button{
					background-color: #fff;
				}
			}
		}	
	}
}
.info{
	max-width: 1770px;
	margin: 0 auto;
	background-color:#fef7f0;
	&__inner{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		min-height: 170px;
	}
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 10px;
		&:nth-of-type(n+2){
			border-left: 1px solid #e8e4df;
		}
}
	&__item-support,
	&__item-delivery,
	&__item-payment{
		max-width: 212px;
	}
&__img{
	margin: 0 25px;
}
	&__title{
		@extend %dmsans-700;
		font-size: 18px;
		line-height: 19px;
		color: #414141;
		margin-bottom: 10px;
	}
	&__text{
		color: #636362;
		line-height: 20px;
	}
}

@media (max-width: 1300px){
	.top-slider{
		&__item{
			padding-left: 2%;
			&::after{
				right: 35%;
			}
		}
		&__title{
			max-width: 460px;
		}
	}
}
@media (max-width: 1030px){
	.top-slider{
		&__item{
			padding-top: 90px;
			margin-bottom: 55px;
			padding-left: 15%;
			&::after{
				display: none;
			}
		}
		.slick-slide img{
		display:none;
		}
		&__title{
			font-size: 58px;
    		line-height: 58px;
   		 	margin-bottom: 25px;
		}
	}
	.info{
		&__img{
			margin: 0 10px;
		}
	}
}
@media (max-width: 850px){
	.top-slider{
		&__item{
			padding-top: 50px;
			margin-bottom: 55px;
		}
		&__text{
			padding-right: 10px;
		}
		&__title{
			font-size: 40px;
    		line-height: 54px;
   		 	margin-bottom: 19px;
		}
	}
	.info{
		&__inner{
			grid-template-columns: none;
			grid-template-rows: repeat(3, 100px);	
		}
		&__item{
			&:nth-of-type(n+2){
				border-left: none;
			}
		}
		&__item-support,
		&__item-delivery,
		&__item-payment{
			max-width: 306px;
			width: 100%;
		}
	}
}
@media (max-width: 600px){
	.top-slider{
		&__item{
			padding-left: 2%;
		}
	}
}
@media (max-width: 500px){
	.top-slider{
		background-color: #fcd7b6;
		&__item{
			padding-top: 50px;
			margin-bottom: 55px;
		}
		&__text{
			padding-right: 10px;
		}
		&__title{
			font-size: 40px;
    		line-height: 54px;
   		 	margin-bottom: 19px;
		}
	}
}
    

