.mission{
	padding: 125px 0;
	&__box{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-column-gap: 30px;
		margin-bottom: 124px;
		align-items: center;
	}
	&__content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 15px;
		color: #243f4d;
	}
	&__top{
		display: flex;
		align-items:flex-end;
		margin-bottom: 50px;
	}
	&__top-num{
		@extend %rubik-700;
		font-size: 140px;
		color: $btn;
		line-height: 104px;
		margin-right: 30px;
	}
	&__top-text{
		max-width: 100px;
	}
	&__title{
		font-size: 36px;
		@extend %dmsans-700;
		margin-bottom: 45px;
	}
	&__text{
		margin-bottom: 20px;
		overflow: auto;
	}
	&__bottom{
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border-top: 2px solid #e6eaf0;
	}
	&__bottom-item{
		padding-left: 60px;
    	padding-right: 20px;
    	margin-bottom: 20px;
    	max-width: 160px;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			left: 2px;
			top: 2px;
		}
		&+.mission__bottom-item{
			margin-left: 20px;
		}
	}
	&__projects{
		border-right: 1px solid #e6eaf0;
		&::before{
			background-image: url(../images/about/icon/tablet.svg);
			width: 37px;
			height: 38px;
		}
	}
	&__revenue{
		border-right: 1px solid #e6eaf0;
		&::before{
		background-image: url(../images/about/icon/shout.svg);
		width: 43px;
		height: 39px;
	}
}
	&__awards{ 
		&::before{
		background-image: url(../images/about/icon/medal.svg);
		width: 42px;
		height: 41px;
	}
}
	&__bottom-title{
		font-size: 36px;
		@extend %dmsans-700;
	}
}
.mission-info{
	background-color: #fcd7b6;
	ul.mission-info__list{
		padding: 70px 0;
		display: flex;
		justify-content: space-around;
		text-align: center;
		flex-wrap: wrap;
	}
	&__item{
		color: #243f4d;
		@extend %dmsans-700;
		margin: 20px 30px;
	}
	&__img{
		display: inline-block;
	}
	&__title{
		font-size: 36px;
		padding: 15px 0;
	}
	&__text{
		font-size: 18px;
	}
}


@media (max-width: 1030px){
	.mission{
		padding: 25px 0;
		&__box{
			grid-template-columns: none;
			grid-template-rows: repeat(2,1fr);
			margin-bottom: 124px;
			align-items: center;
			justify-items: center;
		}
		&__left{
			order: 1;
		}
	}
}
@media (max-width: 600px){
	.mission{
		padding: 40px 0;
		&__box{
			display: block;
			margin-bottom: 35px;
		}
		&__left{
			display: none;
		}
		&__bottom-title{
			font-size: 26px;
		}
		&__bottom-text{
			font-size: 13px;
		}
		&__bottom-item{
			margin-bottom: 20px;
			&+.mission__bottom-item{
				margin-left: 0;
			}
		}
		&__revenue,
		&__projects{
			border-right: none;
		}
	}
	.mission-info{
		&__item{
			margin: 15px 10px;
		}
		&__title{
			font-size: 26px;
		}
		&__text{
			font-size: 16px;
		}
	}
}
