.partner--shop{
	padding: 80px 0;
	background-color: #fef7f0;
}
.partner{
	&__list{
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
		flex-wrap: wrap;
	}
	&__item{
		margin: 30px;
	}
}

@media (max-width: 500px){
	.partner{
		&__item{
			margin: 15px;
		}
	}
}